<h1>QUOTH</h1>

<h2>Price Estimator</h2>

<h3>Protect Your Family And Get Your QUOTH Policy Quote Today!</h3>

<%= render partial: "layouts/errors" %>

<% if @price %>
  <div id="price-container">
    <div id="price">
      <%= @quote.name %>'s policy is estimated at $<%= @price %>
    </div>
  </div>
<% end %>

<div id="form-container">

  <%= form_for(Quote.new) do |f| %>
    <div class="field">
      <div class="label">First Name</div>
      <%= f.text_field :name, placeholder: "Enter your name here", id: "name" %>
    </div>

    <div class="field">
      <div class="label">Age</div>
      <%= f.number_field :age, placeholder: "Enter your age here", id: "age" %>
    </div>

    <div class="field">
      <div class="label">City</div>
      <%= f.text_field :city, placeholder: "Enter your city here", id: "city" %>
    </div>

    <div class="field">
      <div class="label">State</div>
      <select id="state_id" name="quote[state_id]">
        <% State.all.each do |state| %>
          <option value="<%= state.id %>"><%= state.name %></option>
        <% end %>
      </select>
    </div>

    <div class="field">
      <div class="label">Gender</div>
      <select id="gender" name="quote[gender]">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>

    <div class="field">
        <div class="label">Select Any Health Conditions That Apply</div>
        <div class="boxes">
          <% Condition.all.each do |condition| %>
            <div class="box">
              <%= check_box_tag 'conditions[]', condition.id %>
              <%= condition.name %>
            </div>
          <% end %>
        </div>
    </div>

    <%= f.submit 'GET QUOTE', id: "get-quote"%>
  <% end %>

</div>
